.copyright {
  display: flex;
}

.copyright__text {
  color: #000000;
  line-height: 26px;
  text-transform: uppercase;
  padding-top: 7px;
  padding-right: 6px;
}

.copyright__link {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("../../img/htmlacademy.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
