.copyright {
  display: flex;
}

.copyright__text {
  color: #000000;
  line-height: 26px;
  text-transform: uppercase;
  padding-top: 7px;
  padding-right: 4px;
}

.copyright__link {
  display: block;
  width: 40px;
  height: 40px;
}

.copyright__link:hover .copyright__link-image,
.copyright__link:focus .copyright__link-image {
  fill: #81b3d2;
}

.copyright__link:active .copyright__link-image {
  fill: rgba(0, 0, 0, 0.3);
}
