.form-emotions__heading {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.form-emotions__text {
  font-family: "PTSans", "Arial", sans-serif;
  color: #000000;
  display: block;
  box-sizing: border-box;
  overflow: auto;
  width: 100%;
  resize: vertical;
  padding: 0;
  padding-left: 21px;
  padding-top: 16px;
  border: none;
  min-height: 160px;
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  opacity: 1;
}

.form-emotions__text::placeholder {
  color: #000000;
  opacity: 1;
}

@media (min-width: $tablet-width) {
  .form-emotions__heading {
    font-size: 21px;
    position: relative;
    margin-bottom: 55px;
    margin-left: auto;
    margin-right: auto;
  }

  .form-emotions__heading::before {
    content: "";
    display: block;
    width: 125px;
    height: 1px;
    background-color: #f2f2f2;
    position: absolute;
    left: -80%;
    top: 65%;
  }

  .form-emotions__heading::after {
    content: "";
    display: block;
    width: 125px;
    height: 1px;
    background-color: #f2f2f2;
    position: absolute;
    left: 130%;
    top: 65%;
  }
}

@media (min-width: $desktop-width) {
  .form-emotions__heading {
    padding-top: 23px;
  }

  .form-emotions__heading::before {
    width: 283px;
    left: -140%;
    top: 65%;
  }

  .form-emotions__heading::after {
    width: 283px;
    left: 130%;
    top: 65%;
  }
}
