.main-nav {
  font-family: "PTSans", "Arial", sans-serif;
  background-color: #81b3d2;
}

.main-nav__list {
  margin: 0;
  padding: 0;
}

.main-nav__toggle-on {
  position: absolute;
}

.main-nav__toggle-off {
  position: absolute;
}
