.main-nav__list {
  margin: 0;
  padding: 0;
  background-color: $light-grey-blue;
}

@media (max-width: $tablet-width - 1px) {
  .main-nav__list {
    display: none;
  }

  .main-nav__toggle {
    position: absolute;
  }

  .main-nav__toggle--on {
    content: "";
    background-image: url("../../img/icon-cross.svg");
    width: 23px;
    height: 22px;
    top: 5%;
    right: 5%;
  }

  .main-nav__toggle--off {
    content: "";
    background-image: url("../../img/icon-menu.svg");
    width: 23px;
    height: 22px;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
  }

  .main-nav__list--open {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    background-color: #ffffff;
  }

  .main-nav__toggle {
    display: none;
  }

  .nepridumal {
    display: none;
  }
}
