.modal-success__heading,
.modal-success__description {
  text-align: center;
  text-transform: uppercase;
}

.modal-success__heading {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}

.modal-success__description {
  font-size: 14px;
  line-height: 26px;
}

.modal-success__button {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $tablet-width) {
  .modal-success__button {
    width: 458px;
  }
}
