.modal-error__heading,
.modal-error__description {
  text-align: center;
  text-transform: uppercase;
}

.modal-error__heading {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}

.modal-error__description {
  font-size: 14px;
  line-height: 26px;
}
