.page-footer {
  background-color: #ffffff;
}

.page-footer__heading {
  margin: 0;
  margin-bottom: 36px;
  text-align: center;
  padding-top: 35px;

  color: #000000;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

.page-footer__social-list {
  width: 47%;
  padding-left: 26.5%;
  padding-right: 26.5%;
  margin-bottom: 37px;
}

.page-footer__copyright {
  padding-left: 29.5%;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8%;
    padding-right: 7%;
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .page-footer__heading {
    padding: 0;
    margin: 0;
  }

  .page-footer__social-list {
    padding: 0;
    margin: 0;
    width: 151px;
  }

  .page-footer__copyright {
    padding-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    padding-left: 10%;
    padding-right: 9.5%;
  }
}
