.page-header {
  position: relative;
}

.page-header__logo {
  position: absolute;
}

.page-header__navigation {

  padding: 0;
  margin: 0;
  margin-bottom: 55px;
}

.page-header__image {
  vertical-align: bottom;
}
