.photo-video__heading {
  margin: 0;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

.photo-video__text {
  margin: 0;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;

  color: #333333;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.photo-video__list {
  margin: 0;
  list-style: none;
  padding: 0;
}
