.photo-item__picture {
  margin: 0;
}

.photo-item__heading {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
}

.photo-item__image {
  vertical-align: bottom;
}

.photo-item__text {
  margin: 0;

  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.photo-item__likes {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
}
