
.photo-video__heading {
  margin: 0;
  padding-top: 35px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

.photo-video__text {
  margin: 0;
  text-align: center;
  padding-left: 7.5%;
  padding-right: 7.5%;
  padding-top: 27px;

  color: #333333;
  line-height: 24px;
  text-transform: uppercase;
}

.photo-video__list {
  margin: 0;
  list-style: none;
  padding: 0;
  padding-top: 28px;
}

.photo-video__item {
  padding-left: 6%;
  padding-right: 7%;
}

@media (max-width: $tablet-width - 1px) {
  .photo-video__item {
    border-bottom: solid 1px #eeeeee;
    padding-top: 22px;
    padding-bottom: 16px;
  }

  .photo-video__item:first-child {
    border-top: solid 1px #eeeeee;
  }

  .photo-video__list {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}


@media (min-width: $tablet-width) {
  .photo-video__heading,
  .photo-video__text {
    padding-left: 22%;
    padding-right: 22%;
  }

  .photo-video__heading {
    font-size: 30px;
    padding-top: 75px;
  }

  .photo-video__text {
    padding-top: 30px;
  }

  .photo-video__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 7.5%;
    padding-right: 8%;
    padding-top: 70px;
  }

  .photo-video__item {
    padding: 0;
  }
}

@media (min-width: $desctop-width) {
  .photo-video__heading,
  .photo-video__text {
    padding-left: 386px;
    padding-right: 386px;
  }

  .photo-video__heading {
    padding-top: 115px;
  }

  .photo-video__list {
    padding: 0;
    padding-top: 70px;
  }
}
