.photo-video__heading {
  margin: 0;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

.photo-video__text {
  margin: 0;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;

  color: #333333;
  line-height: 24px;
  text-transform: uppercase;
}

.photo-video__list {
  margin: 0;
  list-style: none;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
}


@media (min-width: $tablet-width) {
  .photo-video__heading,
  .photo-video__text {
    padding-left: 170px;
    padding-right: 170px;
  }

  .photo-video__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: $desctop-width) {
  .photo-video__heading,
  .photo-video__text {
    padding-left: 386px;
    padding-right: 386px;
  }

  .photo-video__list {
    padding: 0;
  }
}
