.social-list {
  display: flex;
  margin: 0;
  list-style: none;
  justify-content: space-between;
}

.social-list__item {
  position: relative;
  width: 46px;
  height: 48px;
  background-color: $light-grey-blue;
}

.social-list__link {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: #ffffff;
}
