@font-face {
  font-family: "PTSans";
  src: url("../fonts/ptsans.woff2"),
    url("../fonts/ptsans.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/ptsansbold.woff2"),
    url("../fonts/ptsansbold.woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
